.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.dog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dog-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.dog-item img {
  width: 100%;
  height: auto;
  display: block;
}

.dog-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dog-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.like-button {
  background-color: #007bff;
}

.like-button:hover {
  background-color: #0056b3;
}

.like-button.liked {
  background-color: #28a745; 
}

.refresh-container {
  margin-top: 20px;
}

.refresh-button {
  background-color: #17a2b8; 
}

.refresh-button:active {
  background-color: #138496; 
}

.refresh-button:hover {
  background-color: #117a8b; 
}
